## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [ ]:
#write here and run the cell
for i in range(10):
  print(f"Table of {i+1}:\n")
  for j in range(10):
    print(f"{i+1} x {j+1} = {(i+1)*(j+1)}\n")

Table of 1:

1 x 1 = 1

1 x 2 = 2

1 x 3 = 3

1 x 4 = 4

1 x 5 = 5

1 x 6 = 6

1 x 7 = 7

1 x 8 = 8

1 x 9 = 9

1 x 10 = 10

Table of 2:

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

2 x 6 = 12

2 x 7 = 14

2 x 8 = 16

2 x 9 = 18

2 x 10 = 20

Table of 3:

3 x 1 = 3

3 x 2 = 6

3 x 3 = 9

3 x 4 = 12

3 x 5 = 15

3 x 6 = 18

3 x 7 = 21

3 x 8 = 24

3 x 9 = 27

3 x 10 = 30

Table of 4:

4 x 1 = 4

4 x 2 = 8

4 x 3 = 12

4 x 4 = 16

4 x 5 = 20

4 x 6 = 24

4 x 7 = 28

4 x 8 = 32

4 x 9 = 36

4 x 10 = 40

Table of 5:

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50

Table of 6:

6 x 1 = 6

6 x 2 = 12

6 x 3 = 18

6 x 4 = 24

6 x 5 = 30

6 x 6 = 36

6 x 7 = 42

6 x 8 = 48

6 x 9 = 54

6 x 10 = 60

Table of 7:

7 x 1 = 7

7 x 2 = 14

7 x 3 = 21

7 x 4 = 28

7 x 5 = 35

7 x 6 = 42

7 x 7 = 49

7 x 8 = 56

7 x 9 = 63

7 x 10 = 70

Table of 8:

8 x 1 = 8

8 x 2 = 16

8 x 3 = 24

8 x 4 = 32

8 x 5 = 40

8 x 6 = 48

8 x 7 = 56

8 x 8 = 64

8 x 9 = 72

8 x 10 = 80

Table of 9:

9 x 1 = 9

9 x 2 = 18

9 x 3 = 27

9 x 4 = 36

9 x 5 = 45

9 x 6 = 54

9 x 7 = 63

9 x 8 = 72

9 x 9 = 81

9 x 10 = 90

Table of 10:

10 x 1 = 10

10 x 2 = 20

10 x 3 = 30

10 x 4 = 40

10 x 5 = 50

10 x 6 = 60

10 x 7 = 70

10 x 8 = 80

10 x 9 = 90

10 x 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:
#write here and run the cell
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,12,13,14,15,16,17,18,19,20]

n1 = len(l1)
n2 = len(l2)

i = 0

l3 = []

while (i!=n1 and i!=n2):
  if(i%2==0):
    l3.append(l2[i])
  else:
    l3.append(l1[i])

  i = i + 1

print(l3)

[11, 2, 13, 4, 15, 6, 17, 8, 19, 10]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
#write here and run the cell
for i in range(8):
  for j in range (8):
    if j >= i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [3]:
#write here and run the cell
def exponent(base,exp)->int:
  return base**exp

print(exponent(2,4))

16

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [4]:
#write here and run the cell
f = open("test.txt", "w")
f.write("line1\nline2\nline3\nline4\nline5\nline6\nline7")
f.close()

f = open("test.txt", "r")

new_f = open("new_file.txt", "w")

lines = f.readlines()

for number in range(len(lines)):
    if number == 1:
        continue
    else:
        new_f.write(lines[number])

new_f.close()

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [6]:
#write here and run the cell
name1, name2, name3 = input("Enter the three names:").split()
print("name1 is: ",name1)
print("name2 is: ",name2)
print("name3 is: ",name3)

Enter the three names:IIT JODHPUR RAJASTHAN
name1 is:  IIT
name2 is:  JODHPUR
name3 is:  RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [7]:
#write here and run the cell
def showEmployee(name,salary=9000):
  print(f"Name: {name} Salary:{salary}")

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

Name: Bill Gates Salary:12000
Name: Elon Musk Salary:9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [14]:
#write here and run the cell
def identify(input):
  input1 = input.split(" ")
  output = []

  for word in input1:
    letterFlag = False
    digitFlag = False
    for character in word:
      if((character >='a' and character<='z') or (character >='A' and character<='B')):
        letterFlag = True

      if((character >='0' and character<='9')):
        digitFlag = True
    if(letterFlag and digitFlag):
      output.append(word)

  return output

output = identify("Harry25 is Gryffindor Wizard50 and cursed")

for word in output:
  print(word)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [16]:
#write here and run the cell
def substitute(input):
  input1 = input.split(" ")
  output = []

  for word in input1:
    newWord = ""
    for c in word:
      if((c>='a' and c<='z' or c>='A'and c<='Z' or c>='0'and c<='9' )):
        newWord = newWord + c
      else:
        newWord = newWord + '#'
    output.append(newWord)


  output = ' '.join(output)
  print(output)
substitute("/*Modi is @Politician & Melony!!")

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [21]:
#write here and run the cell
def pairs(l1,l2):
  output = []
  for i in range(len(l1)):
    output.append((l1[i],l2[i]))

  output = set(output)

  print(f"Result is {output} ")

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

pairs(first_list,second_list)

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [23]:
#write here and run the cell
setA = {1,2,3,4,5,6,7,8,9,10}
setB = {2,4,6,8,10,12,14,16,18}

print(f"A-B is {setA.difference(setB)}")
print(f"B-A is {setB.difference(setA)}")
print(f"A∩B is {setA.intersection(setB)}")
print(f"A∪B is {setA.union(setB)}")

A-B is {1, 3, 5, 7, 9}
B-A is {16, 18, 12, 14}
A∩B is {2, 4, 6, 8, 10}
A∪B is {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [26]:
#write here and run the cell
class Vehicle:

  def __init__(self,max_speed,mileage):
    self.max_speed = max_speed
    self.mileage = mileage

  def show(self):
    print("Vehicle:",self.max_speed,self.mileage)

v1 = Vehicle(100,50)
v1.show()

Vehicle: 100 50

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [31]:
#write here and run the cell
class Bus(Vehicle):
  def __init__(self,max_speed,mileage):
    super().__init__(max_speed,mileage)

b1 = Bus(50,25)
b1.show()

Vehicle: 50 25

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [44]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def __init__(self, name, max_speed, mileage):
    super().__init__(name, max_speed, mileage)

  def seating_capacity(self, capacity=50):
    return super().seating_capacity(capacity)

b1 = Bus("Bus",100,90)
print(b1.seating_capacity())

The seating capacity of a Bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [42]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
  def __init__(self, name, mileage, capacity):
    super().__init__(name, mileage, capacity)

  def fare(self):
    return 1.1*(self.capacity * 100)

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [48]:
#write here and run the cell
import json

data = {"key1" : "value1", "key2" : "value2"}

json_data = json.dumps(data,indent = 2)

print(json_data)

{
  "key1": "value1",
  "key2": "value2"
}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [3]:
#write here and run the cell
import json

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

sampleJson = json.dumps(sampleJson,sort_keys=True,indent=4)

f = open('new_jfile.txt','w')
f.write(sampleJson)

f.close()